[submodule "way-of-developer-client"]
	path = way-of-developer-client
	url = git@github.com:Rock-Paper-Queens/way-of-developer-client.git
[submodule "way-of-developer-server"]
	path = way-of-developer-server
	url = git@github.com:Rock-Paper-Queens/way-of-developer-server.git
