[submodule "Client"]
	path = client
	url = git@github.com:Rock-Paper-Queens/way-of-developer-client.git
	branch = dev

[submodule "Server"]
	path = server
	url = git@github.com:Rock-Paper-Queens/way-of-developer-server.git
	branch = dev
